html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
}

:root {
    --secondary: #64707d;
}

body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-family: Roboto, sans-serif;
}

a {
    color: #477ca7;
}

a:visited {
    color: #74638f;
}

.lg-title {
    font-size: 4rem;
    margin-bottom: 0;
}

#title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.subtitle {
    margin-top: 15px;
}

main {
    padding-top: 50px;
}

#img-div {
    background: #fff !important;
    padding: 5px;
    padding-bottom: 0;
}

figure #image {
    display: block;
    margin: 0 auto;
    max-width: 878px;
    width: 100%;
    padding-bottom: 7px;
}

.user-tray {
    color: var(--secondary);
    background: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-tray .wrapper {
    vertical-align: middle;
    padding: 3px 2px;
}

.user-tray span {
    vertical-align: middle;
    font-size: 1.45rem;
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

.user-tray p {
    margin-top: 2px;
    vertical-align: middle;
}

.user-tray img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}

.user-tray span.badge {
    font-weight: 600;
}

.user-tray i {
    color: #fff;
}

.user-tray #user-text p {
    vertical-align: middle;
}

.user-tray #user-text small {
    vertical-align: middle;
}

.user-tray #icon-user {
    color: #111;
}

.user-tray #user-text a {
    font-weight: 700;
}

#tribute-info article {
    background: #fff;
    padding: 10px 20px;
}

#tribute-info article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "open Sans",sans-serif;
    text-align: left;
    padding-top: 9px;
    letter-spacing: -0.044px;
    line-height: 1.78em;
    font-weight: 400;
    color: #000;
    font-size: 1.75rem;
}

#tribute-info article p:not(:first-child) {
    text-indent: 20px;
}

footer {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

footer {
    background: #2c2c2c;
    color: #fff;
    min-height: 40px;
    padding: 10px;
}

footer a {
    color: aqua;
    text-decoration: underline;
    vertical-align: center;
}

footer a:visited {
    color: rgb(137, 90, 214);
}

@media screen and (max-width: 455px) {
    #tribute-info article p {
        text-align: left;
        padding-top: 9px;
        letter-spacing: -0.775px;
        line-height: 1.75em;
        font-weight: 300;
        color: #000;
        font-size: 1.75rem;
    }
}
