:root {
    --secondary: #64707d;
}

body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

h1 {
    font-family: Roboto, sans-serif;
}

a {
    color: #477ca7;
}

a:visited {
    color: #74638f;
}

.lg-title {
    font-size: 2.6rem;
    margin-bottom: 0;
}

#title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 15px;
}

main {
    padding-top: 50px;
    min-height: 100vh;
}

#img-div {
    background: #fff !important;
    padding: 5px;
    padding-bottom: 0;
}

figure #image {
    display: block;
    margin: 0 auto;
    max-width: 878px;
    width: 100%;
    padding-bottom: 7px;
}

.link-tray {
    color: var(--secondary);
    background: whitesmoke;
    text-align: center;
    padding: 3px 2px;
    margin-top: 6px;
    vertical-align: middle;
}

.link-tray span {
    font-size: .925rem;
    vertical-align: middle;
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

.link-tray span.badge {
    font-weight: 500;
}

.link-tray i {
    color: #fff;
}

.author {
    padding-top: 8px;
}

img.author__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 4px;
}

.author__text {
    padding: 7px;
}

.author__text p {
    line-height: 18px;
    text-align: left;
    margin: auto;
}

.author__text a {
    font-weight: 700;
}

#tribute-info article {
    background: #fff;
    margin-top: 40px;
}

#tribute-info article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: "open Sans",sans-serif;
    text-align: left;
    letter-spacing: -0.044px;
    line-height: 1.78em;
    font-weight: 400;
    color: #000;
    font-size: 1.125rem;
}

.blog-outro .blog-outro__text {
    font-weight: 500;
    font-size: 1.2rem;
}

#tribute-info article p:not(:first-child) {
    text-indent: 20px;
}

footer {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

footer {
    background: #2c2c2c;
    color: #fff;
    min-height: 40px;
    padding: 10px;
}

footer a {
    color: aqua;
    text-decoration: underline;
    vertical-align: center;
}

footer a:visited {
    color: rgb(137, 90, 214);
}

@media screen and (max-width: 455px) {
    #tribute-info article p {
        text-align: left;
        padding-top: 9px;
        letter-spacing: -0.775px;
        line-height: 1.75em;
        font-weight: 300;
        color: #000;
        font-size: 1.07rem;
    }
}
